@font-face {
    font-family: 'Figtree-ExtraBold.ttf';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format('woff2'),
         /* url('fonts/MyCustomFont.woff') format('woff'); */
    /* font-weight: normal; */
    /* font-style: normal; */
  }
  @font-face {
    font-family: 'Figtree-Medium.ttf';
    src: url('assets/fonts/static/Figtree-Medium.ttf') format('woff2'),
         /* url('fonts/MyCustomFont.woff') format('woff'); */
    /* font-weight: normal; */
    /* font-style: normal; */
  }
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Figtree-Medium.ttf';
}

.container{
    background-color: hsl(47, 88%, 63%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 1px solid black; */
}

.card{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: white;
    border:1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 4px 1px 1px;
}

#illustration{
    border-radius:1rem ;
}

.content{
    width: 300px;
}
.content p{
    margin-bottom:1rem;
    font-size: small;
}

.profile{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    /* flex-direction: column; */
}

#avatar{
    height: 30px;
}

#heading {
    padding: 5px;
    border-radius: 6px;
    /* margin-top:5px ; */
    background-color:hsl(47, 88%, 63%) ;
}

#date{
    font-size: 15px;
    margin: 1rem 0 1rem 0 ;
}
.xyz{
    margin:10px 0 10px 0 ;

}

.title h3{
    font-weight: 900;
    margin-bottom:1rem ;
    font-family: 'Figtree-ExtraBold.ttf';

}

.attribution{
    position: absolute;
    bottom: 1px;
}

.attribution a{
    text-decoration: none;
    color: red;
}